.App{
  width: 98.6vw;
  height: 98.6vh;
}
body {
  font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.formulario-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background-color: #024873;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 14px;
  box-shadow: 15px 20px 2px #626E73;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.header h1 {
  margin: 0;
  font-weight: 700;
  font-family: 'Grand Hotel', cursive;
}
.main-content {
  display: flex;
  margin: 0.4px;
}
.sidebar {
  height: 990px;
  width: 195px;
  margin-top: 1%;
  background-color: #F2B33D;
  box-shadow: 15px 20px 2px #626E73;
}
.sidebar button {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 15%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: #F2B33D;
  font-weight: 900;
    
}
.sidebar button:hover{
  cursor: pointer;
  background-color: #626E73;
}

.sidebar button svg {
  margin-right: 10px;
  
}
.form {
  flex-grow: 1;
  padding: 50px;
}
.form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-family:'Grand Hotel', cursive;
}
.form input {
  width: 95%;
  padding: 8px;
  margin-top: 15px;
  border-top: 50px;
}
.form button {
  background-color: #024873;
  color: white;
  padding: 20px 55px;
  cursor: pointer;
  border: none;
  margin-top: 3%;
  border-radius: 12%;
  width: 15%;
  box-shadow: 4px 4px 0px #626E73;
  transition: backgroud-color 0.3s;
}

.footer {
  background-color: #024873;
  color: white;
  text-align: center;
  padding: 0.1px;
  margin-top: auto;
}
